


<div class="container">
  <div class="banner">
   <h2>Zonas</h2>
</div>




  <div class="table-responsive banner">          
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre zona</th>
          <th>Color</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>

      </tbody>
    </table>
  </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="map-system">
                <div id="map" class="map"></div>
            </div> 

        </div>
    </div>

<br>

<%= link_to 'New Zone', new_zone_path %>
  
</div>


<script type="text/javascript">
  viewZonesAll(<%=raw @polyjson %>, 1);
</script>
